---
title: xyliul
members:
  - name: 愉快な仲間達
    title: 1号
  - name: toyotomi
    title: 2号
---

<h1>{{ title }}</h1>
<div>メイン著者： {{ members[0].name }}</div>
<ul>
	{% for member in members %}
	<li>{{ member.name }} : {{ member.title }}</li>
	{% endfor %}
</ul>
<ul>
	{% for author in authors %}
	<li><a href="../authors/{{ author.url }}"> {{ author.name }} </a></li>
	{% endfor %}
</ul>