---
layout: layout.njk
csspath: css/
jspath: js/
subtitle: item
---
<header class="header">
  <div class="top">
    <a href="https://w-23-ariru.kill.jp/_site/">
    <h1>{{ title }}</h1>
    </a>
    <ul class="top__ul">
        <li class="top__li"><a class="top__a" href="https://w-23-ariru.kill.jp/_site/" class="">home</a></li>
        <li class="top__li"><a class="top__a" href="#" class="">about</a></li>
    </ul>
    <div class="top__btnall">
        <a href="#" ><img class="top__btn" src="images/shop.png" alt=""></a>
        </div>
  </div>
<div class="conts-body">
      <button class="hamburger">
                <span class="hamburger_bar"></span>
                <span class="hamburger_bar"></span>
                <span class="hamburger_bar"></span>
      </button>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="https://w-23-ariru.kill.jp/_site/" class="nav-a">home</a></li>
      <li class="nav-item"><a href="" class="nav-a">about</a ></li>
    </ul>
  </nav>
</div>
    <div class="video">
      <video class="video__main" poster="#" webkit-playsinline playsinline muted autoplay loop>
        <source src="./video/top.mp4" type="video/mp4">
      </video>
    </div>
</header>
<main class="main">
  <div class="main__inner">
  <h2 class="main__h2">{{ subtitle }}</h2>
	    {% for member in members %}
	    {{title}}{{ member.title }}
	    {% endfor %}
     <div class="syohin">
       <ul class="syohin__ul">
	          {% for author in authors %}
	             <li class="syohin__li">
                   <a class="syohin__a" href="./authors/{{ author.url }}">
                      <img class="syohin__img" src="./images/{{author.itemphotos[0]}}" alt="">
                  <div class="syohin__name">
                      <h3>商品名：{{ author.name }}</h3>
                      <p>＄{{ author.price }}</p>
                      <p class="syohin__state">{{ author.state }}</p>
                  </div>
                  </a>
               </li>
	          {% endfor %}
        </ul>
        <button class="syohin__btn">もっと見る</button>
      </div>
   </div>
</main>
<footer class="footer">
  <small class="">@copyright Mysyop 2022</small>
</footer>
